.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
  padding: 15px 15px;
}
.gutter-box {
  background: #456eff;
  padding: 10px 10px 10px 10px;
  width: 18vi; /*adjusted to decrease the width and fit better on phone */
  height: 10vw; /* adjusted to increase depth to fit the title */
  color: white;
  font-size: calc(1.5vw - 0.25rem); /* Adjust here to change font size */
  text-align: center;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.gutter-box-text {
}
/*
#456eff good color


*/
