@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.first-letter {
    font-size: 200%;
    color: red;
}

.Content-style {
    padding: 0 50px;
    min-height: 100vh;
}

.App-header {
  background-color: #aecce7;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: black;
  padding: 0px 0px 0px 0px;
}


.App-header-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-weight: 500;
  color: mediumvioletred;
  padding-top: 0;
}
.App-header-text-2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  color: darkblue;
  padding-top: 0;
}
.App-text {
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 300;
  color: black;
}

.App-text-subheader {
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 400;
  color: darkblue;
}

.App-text-small {
  align-items: left;
  justify-content: left;
  font-weight: 600;
  font-size: 1.7vw;
  color: black;
}

.App-text-tiny {
  align-items: left;
  justify-content: left;
  font-weight: 600;
  font-size: 1.0vw;
  color: black;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
.responsive-iframe {
  align-items: center;
  position: bottom;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: fit-content;
  border: none;
}

.schedule {   align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 300;
  color: black;}

.picture {   align-items: center;
  justify-content: center;
  font-size: 1.25vw;
  font-weight: 300;
  color: black;}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
