.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
  padding: 15px 15px;
}
.gutter-box {
  background: #8d0ce7;
  padding: 10px 10px 10px 10px;
  width: 20vi;
  height: 75px;
  color: white;
  font-size: calc(2vw - 0.25rem);
  text-align: center;
}


.gutter-box-text {
}