.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
  padding: 10px 10px;
}
.gutter-box {
  background: #8d0ce7;
  color: white;
  font-size: large;
  padding: 10px 10px 10px 10px;
  width: 120%;
}